version: 2.1

orbs:
  docker-build: remind101/docker-build@1

workflows:
  build-and-test:
    jobs:
      - docker-build/build-push:
          context:
            - docker-hub
            - aws-ecr
      - test

jobs:
  test:
    working_directory: /go/src/github.com/remind101/acme-inc
    docker:
      # Primary container image where all the steps run.
      - image: circleci/golang:1.10
    steps:
      - checkout
      - run: go test
